/* GRADIENT TITLURI */
.gradient {
  background: rgb(255, 59, 255);
  background: linear-gradient(
    90deg,
    rgb(206, 59, 255) 0%,
    rgba(92, 36, 255, 1) 22%,
    rgb(176, 39, 119) 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* BUTONUL PENTRU NAVIGATIA DE TELEFON */
.ham {
  filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(200deg)
    brightness(105%) contrast(105%);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 600ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5;
  stroke-linecap: round;
}
.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

/* FOOTER */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 75px;
  max-height: 10px;
}

.content {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 10vh;
  text-align: center;
  background-color: #6800ff;
}

/* ANIMATII */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 20px;
    min-height: 50px;
  }
}
